--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
torchaudio==2.5.1+cpu
numpy<2.0
scipy
matplotlib
librosa==0.10.2
numba
ffmpeg-python
tqdm
cn2an
pypinyin
g2p_en
soundfile
sentencepiece
transformers>=4.43,<=4.50
peft<0.18.0
chardet
PyYAML
jieba_fast
jieba
split-lang
fast_langdetect>=0.3.1
wordsegment
rotary_embedding_torch
opencc-python-reimplemented==0.1.7
onnxruntime
pytorch-lightning>=2.4
torchmetrics<=1.5
huggingface_hub>=0.27
x_transformers
